// Pricing Section Styles
.primaryButton {
  background-color: var(--primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  width: 100%;
  margin-bottom: 1rem;
  
  &:hover {
    background-color: color-mix(in srgb, var(--primary) 90%, black);
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  color: var(--primary);
  padding: 0.2rem;
  border-radius: 50%;
  
  svg {
    width: 100%;
    height: 100%;
  }
}