// Pricing Section Styles
.primaryButton {
  background-color: var(--primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  width: 100%;
  margin-bottom: 1rem;
  
  &:hover {
    background-color: color-mix(in srgb, var(--primary) 90%, black);
  }
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--primary-text);
}

.featureItem {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px !important;
  color: white;
  // height: 28px;

  svg {
    height: 16px !important;
    width: 16px !important;
  }

  span {
    // border: 1px solid red;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.featureItemDisabled {
  opacity: 0.75;
}

.feature-item.small {
  height: 12px;
}

.feature-item.red-border {
  border: 1px solid red;
}

.feature-icon {
  min-width: 32px;
  margin-right: 8px;
}


.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  color: var(--primary);
  padding: 0.2rem;
  border-radius: 50%;
  
  svg {
    width: 100%;
    height: 100%;
  }
}

.footerPricing {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  @media screen and (max-width: 600) {
    flex-direction: column;
    gap: 1rem;
  }
}
.itemsInfos {
  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 600) {
    flex-direction: column;
    gap: 1rem;
  }

  svg {
    height: 32px !important;
    width: 32px !important;
  }
}