.elementor-11 .elementor-element.elementor-element-55d0707{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--padding-top:20px;--padding-bottom:100px;--padding-left:10px;--padding-right:10px;}.elementor-11 .elementor-element.elementor-element-55d0707:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-55d0707 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0A0719;background-image:url("../../2025/06/ea02d865bf649528a1b20cbc70c236c8d66e15b8.png");}.elementor-11 .elementor-element.elementor-element-42ce04a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-11 .elementor-element.elementor-element-b7493d4 > .elementor-widget-container{--e-transform-rotateZ:-36deg;--e-transform-translateX:-15px;--e-transform-translateY:138px;}.elementor-11 .elementor-element.elementor-element-b7493d4{z-index:1;}.elementor-11 .elementor-element.elementor-element-b7493d4 .elementor-icon-wrapper{text-align:center;}.elementor-11 .elementor-element.elementor-element-b7493d4.elementor-view-stacked .elementor-icon{background-color:#FFFFFF5C;}.elementor-11 .elementor-element.elementor-element-b7493d4.elementor-view-framed .elementor-icon, .elementor-11 .elementor-element.elementor-element-b7493d4.elementor-view-default .elementor-icon{color:#FFFFFF5C;border-color:#FFFFFF5C;}.elementor-11 .elementor-element.elementor-element-b7493d4.elementor-view-framed .elementor-icon, .elementor-11 .elementor-element.elementor-element-b7493d4.elementor-view-default .elementor-icon svg{fill:#FFFFFF5C;}.elementor-11 .elementor-element.elementor-element-b7493d4 .elementor-icon{font-size:30px;}.elementor-11 .elementor-element.elementor-element-b7493d4 .elementor-icon svg{height:30px;}.elementor-11 .elementor-element.elementor-element-b7493d4 .elementor-icon i, .elementor-11 .elementor-element.elementor-element-b7493d4 .elementor-icon svg{transform:rotate(0deg);}.elementor-11 .elementor-element.elementor-element-dd6e4e5{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overlay-opacity:0;}.elementor-11 .elementor-element.elementor-element-dd6e4e5::before, .elementor-11 .elementor-element.elementor-element-dd6e4e5 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-dd6e4e5 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-dd6e4e5 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-dd6e4e5 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-dd6e4e5 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-8abe4dc{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;text-align:center;}.elementor-11 .elementor-element.elementor-element-8abe4dc .bdevs-el-title{margin-bottom:20px;color:var( --e-global-color-83ce759 );}.elementor-11 .elementor-element.elementor-element-8abe4dc .bdevs-el-subtitle{color:#000000;}.elementor-11 .elementor-element.elementor-element-8abe4dc .bdevs-el-content p{color:#000000;font-size:16px;}.elementor-11 .elementor-element.elementor-element-f814c06{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--padding-top:20px;--padding-bottom:100px;--padding-left:10px;--padding-right:10px;}.elementor-11 .elementor-element.elementor-element-f814c06:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-f814c06 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0A0719;background-image:url("../../2025/06/ea02d865bf649528a1b20cbc70c236c8d66e15b8.png");}body.elementor-page-11:not(.elementor-motion-effects-element-type-background), body.elementor-page-11 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-11 .elementor-element.elementor-element-42ce04a{--width:15%;}.elementor-11 .elementor-element.elementor-element-dd6e4e5{--width:70%;}}@media(max-width:767px){.elementor-11 .elementor-element.elementor-element-55d0707{--padding-top:60px;--padding-bottom:60px;--padding-left:10px;--padding-right:10px;}.elementor-11 .elementor-element.elementor-element-dd6e4e5{--gap:10px 0px;--row-gap:10px;--column-gap:0px;}.elementor-11 .elementor-element.elementor-element-8abe4dc{--container-widget-width:1000px;--container-widget-flex-grow:0;width:var( --container-widget-width, 1000px );max-width:1000px;}.elementor-11 .elementor-element.elementor-element-8abe4dc .bdevs-el-title{font-size:30px;}.elementor-11 .elementor-element.elementor-element-f814c06{--padding-top:60px;--padding-bottom:60px;--padding-left:10px;--padding-right:10px;}}/* Start custom CSS for icon, class: .elementor-element-b7493d4 */.elementor-element.elementor-element-f7266d0.elementor-view-stacked .elementor-icon {
    background-image: linear-gradient(0deg, #6443F15E, #0075ff00);
    justify-content: center;
    align-items: center;
 
    border-color:blue;
    /* display: flex; */
}/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-8abe4dc */.elementor-3866 .elementor-element.elementor-element-e4b9126 .bdevs-el-content p{
    margin-right: 40px;
    margin-left: 40px
}/* End custom CSS */





/* Start custom CSS */#afwc_reg_email{
	padding-right:1px;
	margin-left:0px;
	padding-left:10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-width:1px;
}

/* Afwc reg contact */
#afwc_reg_contact{
	padding-left:10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-width:1px;
}

/* Afwc reg desc */
#afwc_reg_desc{
	padding-left:10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#afwc_registration_form_submit{
    background-color:#5e3afc;
    padding-top:9px;
	padding-bottom:9px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-style:none;
	color:#ffffff;
}

.markit-blog-details-breadcrumb .page__title-area{
	display:none;
}/* End custom CSS */