version: "3.8"

services:
  owner-locapay:
    container_name: app-owner-locapay
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
